@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400;1,500&family=Poppins:wght@200;300;400;500;600&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  /* custom */
  --clr-dark-blue: #003153;
  --clr-dark-green: #41ff00;
  --clr-sepia: #704214;
  --clr-crimson: #dc143c;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index {
  margin: auto;
}

h1 {
  color: white;
}

a,
.myLink {
  color: gold;
  text-decoration: none;
  color: crimson;
  transition: all 0.5s ease-in-out;
}

a:hover,
.myLink:hover {
  color: crimson;
  filter: brightness(80%);
  transition: all 0.5s ease-in-out;
}

/* card elements */

.title,
.section-title,
.title-card,
.title-favorite-card {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.title-card,
.title-favorite-card {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
}

.img,
.book-img {
  height: 600px;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .img {
    height: 300px;
    object-fit: cover;
  }

  .book-img {
    object-fit: contain;
  }
}

.subtitle {
  font-size: 0.9rem;
  font-style: italic;
  margin: 0.5rem 0;
}

.author-date {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.lead-paragraph {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}

.link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link:hover,
.navbar-link:hover {
  filter: brightness(90%);
  transition: all 0.2s ease-in-out;
  color: black;
}

.navbar-link {
  margin: 0 0.2rem;
}

/* cards */
.card {
  margin: 1rem 0;
  padding: 0.5rem;
}

/* icons */

.sharing-icon {
  height: 1.6rem;
  stroke: white;
  fill: white;
  margin: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.sharing-icon:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(70%);
}

/* search bar */

.articles-search-searchbar {
  margin-top: 2rem;
}

/* dashboard */

.favorite-card {
  display: flex;
  flex-direction: column;
}

.favorite-card-top {
  margin-bottom: 1.5rem;
}

.favorite-card-bottom {
  display: flex;
  justify-content: space-between;
}

.favorite-card-bottom-left,
.favorite-card-bottom-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* profile */

.profile-info-top,
.profile-info-bottom {
  display: flex;
  flex-direction: column;
}

.profile-info-top {
  align-items: flex-start;
}

.profile-info-bottom {
  align-items: flex-end;
}
.profile-info {
  display: flex;
  justify-content: space-between;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

/* responsive */

@media screen and (max-width: 568px) {
  /* navbar */
  .nav-link {
    padding: 0.1rem 0.5rem;
  }
  .navbar-link {
    margin: 0 0.5rem;
    font-size: 0.8rem;
  }

  /* kiosk */
  .kiosk,
  .favorites-btn,
  .logout-btn {
    font-size: 0.7rem !important;
  }

  /* postcard */
  .section-title {
    font-size: 1.2rem;
  }
  .title-card,
  .title-favorite-card {
    font-size: 1rem;
  }

  .subtitle,
  .author-date {
    font-size: 0.7rem;
  }

  .read-more a,
  .read-more span {
    font-size: 0.7rem;
  }

  /* dashboard */

  .favorite-card span,
  .profile span {
    font-size: 0.7rem;
  }

  .favorite-card-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .favorite-card-bottom-right {
    width: 100%;
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-between;
  }

  .profile-info {
    flex-direction: column;
  }

  .profile-info-top,
  .profile-info-bottom {
    margin: 0.5rem 0;
  }

  .profile-info-bottom {
    align-items: flex-start;
  }

  .footer {
    font-size: 0.7rem;
    flex-direction: column;
  }
}
